.maincontainer{
    overflow-y: scroll;
    height:400px;
border:2px solid black;
width:100vw;
position:relative;

.h2{
   text-align: center;

}

    canvas{
        background-color: none;
     
     
    }
    .hidden{
        display: none;
      

      }
     input{
        position: absolute;
        z-index: 1;
        box-sizing:border-box;
   
    height:30px;
    width:150px;

    background:white;
    outline: none;
     } 
}