body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #6E6E6E;
  color: #288754;
  font-size: larger;
  font-weight: bold;
  height: 3em;
}
nav .mid {
  flex-grow: 1;
}
nav .mid input {
  min-width: 400px;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 5px;
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 3px;
}

.sub1 {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}
.sub1 .sub-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: #e4e4e4;
  border-radius: 5px;
  height: 100px;
  padding: 5px;
  text-align: center;
  position: relative;
}
.sub1 .sub-container .searchdiv {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 1px 2px 1px 1px grey;
  display: none;
}
.sub1 .sub-container .searchdiv #close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-color: red;
  width: 30px;
  color: white;
}
.sub1 .sub-container .searchdiv .results {
  overflow-y: scroll;
  height: 250px;
}
.sub1 .sub-container .subdiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  border-right: 1px solid rgb(190, 186, 186);
}
.sub1 .sub-container .subdiv i {
  margin: 3px;
  color: grey;
  cursor: pointer;
}
.sub1 .sub-container .subdiv span {
  margin: 3px;
  color: grey;
}
.sub1 .sub-container .block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sub1 .sub-container .block2 .block21 {
  display: flex;
  flex-direction: column;
  margin: 3px;
}
.sub1 .sub-container .mid1 {
  flex-grow: 1;
}
.sub1 .sub-container .mid1 .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub1 .sub-container .mid1 .btns .hidden {
  display: none;
}
.sub1 .sub-container .mid1 .btns label div {
  padding: 3px;
  min-width: 150px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 1px black;
}
.sub1 .sub-container .mid1 .btns label div i {
  color: black;
}
.sub1 .sub-container .mid1 .btns span .box {
  display: none;
}
.sub1 .sub-container .mid1 .btns span:hover {
  position: relative;
}
.sub1 .sub-container .mid1 .btns span:hover .box {
  display: block;
  width: 450px;
  top: 120px;
  right: 0px;
  align-items: center;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 10;
  box-shadow: 2px 2px 1px 1px grey;
}
.sub1 .sub-container .mid1 .btns button {
  padding: 3px;
  min-width: 150px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}
.sub1 .sub-container .mid2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.sub1 .sub-container .mid2 .button1 {
  padding: 3px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  position: relative;
}
.sub1 .sub-container .mid2 span .graph12 {
  display: none;
}
.sub1 .sub-container .mid2 span:hover {
  position: relative;
}
.sub1 .sub-container .mid2 span:hover .graph12 {
  display: flex;
  flex-direction: column;
  width: 150px;
  top: 25px;
  right: 0px;
  align-items: center;
  background-color: white;
  position: absolute;
  z-index: 2;
  box-shadow: 1px 2px 1px 2px black;
}
.sub1 .sub-container .mid2 span:hover .graph12 button {
  width: 100px;
  padding: 3px;
  margin: 3px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */